.layout{
    padding: 20px 0;
    height: 100vh;
}

.separate{
    display: flex;
    gap: 2rem;
    height: 100%;
    /* padding: 10px; */
}

.both{
    width: 100%;
    /* background-color: blueviolet; */
}

.sidebar{
    padding: 10px;
    background-color: #647E68;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: #647E68;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}


.menu-item{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    gap: 1rem;
    font-size: 20px;
    font-weight: bold;
    /* text-decoration: underline !important; */
}

.active-menu-item{
    border: 3px solid ;
    border-radius: 5px;
}

i{
    cursor: pointer;
    font-size: 25px;
}

.title1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.underline{
    text-decoration: underline;
    font-size: 25px;
    margin: 0;
}

.user{
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

@media only screen and (max-width: 500px){
   .header{
    width: 50%;
   }
}